/* AIDesigner.css */

/* Base styles for the AI designer component */
.ai-designer {
    font-family: 'Josephine Sans', sans-serif; /* Updated to use Josephine Sans */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    max-width: 600px;
    margin: 30px auto;
    font-family: 'Josefin Sans', sans-serif; /* Updated font family */
    color: #ffffff; /* White text color for better readability against dark background */
}

/* Heading styles */
.ai-designer h1 {
    color: #ffffff;
    font-size: 2.5em;
    margin-bottom: 20px;
}

/* Input field styles */
.ai-designer input {
    color: #000000;
    width: 80%;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 15px;
    border: 2px solid #ccc;
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.05);
    background-color: #f8f9fa; /* Light background for input for contrast */
}

/* Button styles */
.ai-designer button {
    font-family: 'Josefin Sans', sans-serif; /* Updated font family */
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

/* Button hover styles */
.ai-designer button:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

/* Output container styles */
.design-output {
    width: 100%;
    max-width: 500px;
    margin-top: 20px;
    padding: 15px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
}

/* Output image styles */
.design-output img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Description styles */
.description {
    font-family: 'Josefin Sans', sans-serif; /* Updated font family */
    margin-bottom: 20px; /* Adds space below the paragraph */
    font-size: 1.1em;
    text-align: center; /* Centers the text */
    color: #ffffff; /* Sets text color to white for visibility */
    padding: 10px; /* Adds padding around the text */
}

.ai-designer p {
    color: #ffffff; /* Default text color for paragraphs */
    font-size: 1.1em; /* Slightly larger font for readability */
    line-height: 1.6; /* Improved line spacing for better readability */
    margin-bottom: 1em; /* Space between paragraphs */
}

/* Media Queries */
@media (max-width: 768px) {
    .ai-designer {
        padding: 15px;
        margin: 20px auto;
    }

    .ai-designer h1 {
        font-size: 1.5rem;
    }

    .ai-designer input, .design-output {
        width: 90%;
    }

    .ai-designer button {
        padding: 8px 16px;
        font-size: 1rem;
    }

    .description {
        font-size: 0.9rem;
    }
}
