/* CSS Variables for easier theme management */
:root {
    /*--background-color: #001;  Black */
    --text-color: rgb(255, 255, 255); /* White */
    --logo-color: #FFF; /* White */
    --hover-color: #F8F9FA; /* Light gray for hover effects */
    --border-color: transparent; /* Transparent border */
    --box-shadow: 0 4px 2px rgba(0, 0, 0, 0.2); /* Slightly softer shadow */
    --font-primary: 'Roboto', sans-serif; /* Primary font */
}

.header {
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the last value (0.5) for transparency */
    color: var(--text-color);
    padding: 0px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Maintains space between main elements */
    box-shadow: var(--box-shadow);
    border: 3px solid var(--border-color);
    font-family: var(--font-primary);
    contain: layout style;
}

.header .branding {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header .branding a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
    margin-left: 15px; /* Ensures proper spacing from the edge */
}

.header .branding a:hover .logo-image {
    transform: scale(1.045); /* Subtle scale effect on hover */
}

.header .logo-image {
    height: 125px;
    width: auto;
    padding: auto;
    transition: transform 0.3s ease-in-out;
    background-color: transparent; /* Set background to transparent */
}

.header .shopping-cart-image { /* New class for the shopping cart image */
    height: 55px; /* Fixed height for consistency */
    width: auto; /* Maintain aspect ratio */
    transition: transform 0.3s ease-in-out; /* Smooth transition for hover effect */
    background-color: transparent; /* Set background to transparent */
}

.header .cart a:hover .shopping-cart-image {
    transform: scale(1.1); /* Subtle grow effect on hover */
}

.header .additional-links {
    display: flex;
    justify-content: center; /* Aligns items to the center */
    gap: 120px;
    min-width: 300px; /* Set a minimum width to prevent shifting */
}

.header .navigation ul,
.header .cart {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.header .navigation ul li,
.header .additional-links a,
.header .cart a {
    padding: 0 18px;
    text-decoration: none;
    color: var(--text-color);
    font-size: 22px;
    font-weight: bold; /* Make the text bold */
    transition: color 0.3s, transform 0.3s ease-in-out;
    background-color: rgb(0, 0, 0); /* Transparent background */
}

.header .navigation ul li a:hover,
.header .additional-links a:hover,
.header .cart a:hover {
    color: var(--hover-color);
    transform: translateY(-3px);
}


@media (max-width: 768px) {
    .header {
        flex-direction: column;
        padding: 10px;
        align-items: center;
        display: flex;
    }

    .header .branding,
    .header .navigation,
    .header .additional-links,
    .header .cart {
        width: 100%;
        margin-bottom: 1px;
        order: 0;
    }

    .header .logo-image {
        height: 80px;
        order: -1;
    }

    .header .shopping-cart-image {
        height: 35px;
        order: 1; /* Set the order of shopping cart image after the additional links */
        margin-top: 10px; /* Add some space between the links and the shopping cart */
        align-self: center; /* Center the shopping cart image */
    }

    .header .additional-links {
        gap: 1px;
        order: 2; /* Set the order of additional links */
        display: flex; /* Ensure additional links are displayed inline */
    }

    .header .navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        order: 3; /* Set the order of navigation */
    }
}

