/* About.css */
.about {
  padding: 20px;
  max-width: 800px;
  margin: auto;
  line-height: 1.6;
  color: #000000;
  border-radius: 15px;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif; /* Updated font family */
}

.about h1 {
  color: #ffffff;
  margin-bottom: 0.5em;
  padding-bottom: 0.25em;
  border-bottom: 2px solid #eeeeee;
  font-size: 2.5em;
  font-weight: 600; /* Applying semi-bold for emphasis */
  font-style: italic; /* Make the text italic */
}

.about p {
  margin-bottom: 1em;
  font-size: 1.1em;
  color: #ffffff;
}

.about a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 600; /* Ensure links are bold */
}

.about a:hover {
  text-decoration: underline;
}

/* Responsive adjustments for mobile devices */
@media (max-width: 767px) {
  .about {
    padding: 15px;
    max-width: 100%;
    border-radius: 10px;
  }

  .about h1 {
    font-size: 2em;
    margin-bottom: 0.25em;
    padding-bottom: 0.125em;
  }

  .about p {
    margin-bottom: 0.75em;
    font-size: 1em;
  }

  .about a {
    font-size: 0.9em;
  }
}
