/* CSS Variables for consistent theming */
:root {
  --text-color: #FFF;
  --button-bg-color: #007bff;
  --button-hover-bg-color: #0056b3;
  --shadow-light: rgba(0, 0, 0, 0.1);
  --shadow-medium: rgba(0, 0, 0, 0.15);
  --shadow-deep: rgba(0, 0, 0, 0.3);
}

/* Main container with responsive design details */
.design-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 20px auto; /* Optimized overall margin */
  padding: 5px;
  max-width: 1000px; /* Appropriate maximum width */
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Container for image layout */
.images-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 10px; /* Controlled space below images */
}

/* Styles specific to images */
.design-detail img {
  width: 100%;
  height: auto;
  max-height: 525px; /* Controlled maximum image height */
  border-radius: 8px;
  box-shadow: 0 2px 6px var(--shadow-light);
  margin-bottom: 5px; /* Minimal space below each image */
  margin-right: 10px; /* Added space to the right of each image */
}
.design-detail img:last-child {
  margin-right: 0; /* Remove margin on the right for the last image */
}
/* Header styles with centralized text */
.design-detail h1 {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 5px; /* Minimal margin below header */
}

/* Subtext for artist information */
.artist-info {
  font-size: 1rem;
  font-style: italic;
  margin-bottom: 5px; /* Minimal margin below artist info */
}

.price {
  font-size: 1rem;
  font-style: italic;
  margin-bottom: 5px; /* Minimal margin below artist info */
}

/* Paragraph styling for descriptive text */
.design-detail p {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 5px; /* Minimal space above the 'Add to Cart' button */
}

/* Button styling with hover effect */
.add-to-cart-button {
  padding: 12px 24px;
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--text-color);
  background-color: var(--button-bg-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px; /* Optimized bottom margin */
  font-family: 'Josefin Sans', sans-serif; /* Updated font family */

}

.add-to-cart-button:hover {
  background-color: var(--button-hover-bg-color);
}

.header-container {
  display: flex;
  align-items: center; /* Centers items vertically within the container */
  justify-content: space-around; /* Evenly spaces items horizontally */
  width: 100%; /* Ensures the container takes full width of its parent */
  margin-bottom: 20px; /* Adds some space below the container before images */
}

.design-detail h1, .design-detail p {
  margin: 0 10px; /* Adds horizontal margin for spacing, removes vertical margin */
}


/* Media queries for responsive adjustments */
@media (max-width: 767px) {
  .design-detail {
    margin-top: 20px; /* Adjusted for smaller top margin on mobile */
    padding: 10px; /* Uniform padding on mobile */
    max-width: 95%; /* Responsive width on mobile */
  }

  .images-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center; /* Ensures that images are aligned in the center vertically */
    margin-bottom: 10px; /* Reduced space below images */
  }

  .design-detail img {
    flex: 1; /* Each image will take equal space in the container */
    max-width: 49%; /* Slightly less than half to accommodate margin */
    height: auto;
    max-height: 600px; /* Maintaining control over image height */
    border-radius: 8px;
    box-shadow: 0 2px 6px var(--shadow-light);
    margin-bottom: 5px; /* Minimal space below each image */
    margin-right: 10px; /* Added space to the right of each image */
  }
  .design-detail img:last-child {
    margin-right: 0; /* Remove margin on the right for the last image */
  }

  .design-detail h1 {
    font-size: 1.5rem;
    margin-bottom: 5px; /* Reduced margin on mobile */
  }

  .artist-info {
    font-size: 0.9rem;
    margin-bottom: 5px; /* Reduced margin on mobile */
  }

  .design-detail p {
    font-size: 1rem;
    margin-bottom: 5px; /* Smaller margin before button on mobile */
  }

  .add-to-cart-button {
    padding: 10px 20px;
    font-size: 1rem;
    margin-bottom: 10px; /* Adjusted bottom margin on mobile */
  }
}
