.design-card {
    /* ... other styles ... */
    
  }
  
  .design-image {
    width: 100%; /* Ensures the image is as wide as the card */
    height: 300px; /* Fixed height for all images */
    object-fit: cover; /* Ensures images cover the area without stretching; they will be clipped if necessary */
    border-radius: 4px; /* Optional: if you want rounded corners */
  }
  
  /* It's important to make sure that the card itself has a fixed width or a max-width to prevent stretching */
  .design-card {
    /* ... other styles ... */
    width: 300px; /* Example fixed width */
    max-width: 100%; /* Ensures responsiveness on smaller screens */
    margin: 0 auto; /* Optional: for centering the card if not using flexbox or grid layout */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Subtle shadow for depth */
    border: 2px solid #505050; /* Adding a white border */
  }
  
  .description {
    font-family: 'Helvetica', 'Arial', sans-serif; /* Choose a clean, modern font */
    font-size: 14px; /* Set a moderate font size */
    color: #666; /* Use a soft, dark grey color for readability */
    text-align: justify; /* Justify text for a clean, aligned appearance */
    padding: 10px; /* Add padding to create space around the text */
    line-height: 1.6; /* Increase line height for better readability */
    max-height: 100px; /* Limit the maximum height to avoid container expansion */
    overflow: hidden; /* Hide overflow to prevent expanding the container */
    text-overflow: ellipsis; /* Add ellipsis if text overflows (requires 'white-space: nowrap;' for single line) */
    white-space: nowrap; /* Ensures text stays on a single line and uses ellipsis */
    margin: 5px 0; /* Add vertical margin */
  }
  
  .price {
    color: white; /* Sets the text color to white */
    font-style: italic; /* Makes the text italic */
    font-weight: bold; /* Makes the text bold */
    padding: 10px; /* Adds padding around the text for better legibility */
    border-radius: 5px; /* Optionally rounds the corners of the background */
    /* existing styles, if any */
  }
