/* InstagramOffer.css */
.instagram-offer {
    padding: 20px;
    text-align: center;
    color: #ffffff; /* Set default text color to white for all child elements */
    font-family: 'Josefin Sans', sans-serif; /* Ensuring a stylish, modern typeface */
}

.instagram-offer h1 {
    margin-bottom: 20px; /* Space below the header for better visual separation */
    font-size: 2.5em;
    font-weight: bold; /* Bold text for a striking appearance */
}

.instagram-offer p {
    font-family: 'Josefin Sans', sans-serif; /* Updated font family */
    margin-bottom: 20px; /* Adds space below the paragraph */
    font-size: 1.1em;
    text-align: center; /* Centers the text */
    color: #ffffff; /* Sets text color to white for visibility */
    padding: 10px; /* Adds padding around the text */
}

.instagram-offer button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 25px; /* Generous padding for a clickable and tactile feel */
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif; /* Consistency in font usage */
    font-size: 16px; /* Large enough for easy interaction and readability */
    transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transitions for interactive feedback */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Subtle but effective shadow for a 3D effect */
}

.instagram-offer button:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4); /* More pronounced shadow on hover for a dynamic effect */
}
