/* DesignsGallery.css */
.designs-gallery {
  display: flex; /* Use flexbox for horizontal alignment */
  flex-direction: column; /* Ensures sections are stacked vertically */
  gap: 16px; /* Adjust the space between the sections */
  justify-content: center; /* Center sections in the gallery */
  padding: 16px; /* Add some padding around the gallery */
}

.section {
  width: 100%;
}

.section-title {
  text-align: center; /* Centers the title */
  margin-bottom: 16px; /* Space below the title */
  font-family: 'Arial', sans-serif; /* Using a widely supported, clean, and commercial font */
  font-size: 24px; /* Making the title larger to stand out more */
  font-weight: bold; /* Increasing weight for better visibility and impact */
  text-transform: uppercase; /* Styling the text to be uppercase for a more formal and impactful look */
  letter-spacing: 1.5px; /* Increasing letter spacing to enhance readability and style */
}
.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.design-card {
  flex: 0 1 300px; /* Cards can grow and shrink but start at 300px */
  display: flex;
  flex-direction: column; /* Stack card content vertically */
  align-items: center; /* Center items horizontally in the card */
  text-align: center; /* Center text inside each card */
  padding: 16px;
  color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Subtle shadow for depth */
  background-color: #ffffff00; /* Transparent background color */
  border-radius: 8px; /* Rounded corners for the cards */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Smooth transition for transform and shadow */
}

.design-card:hover {
  transform: scale(1.05); /* Slightly enlarge the card on hover */
  box-shadow: 0 4px 10px rgba(0,0,0,0.3); /* Increase shadow for a lifted effect */
}

.design-image {
  width: 100%; /* Make the image fill the card */
  object-fit: cover; /* Ensure the aspect ratio of the image is maintained */
  border-radius: 8px; /* Match the border-radius of the card if you have one */
}

/* Responsive adjustments for mobile devices */
@media (max-width: 767px) {
  .designs-gallery {
    justify-content: space-around; /* Adjust if necessary to ensure sections are evenly distributed */
    padding: 8px; /* Reduced padding for gallery on mobile */
  }

  .design-card {
    flex: 0 1 100%; /* Cards take full width on small screens to ensure they are not too narrow */
    margin: 8px 0; /* Add vertical margin for spacing between cards */
    padding: 12px; /* Reduced padding within each card on mobile */
  }

  .design-image {
    /* Adjust if you have specific styles for images on mobile */
  }
}
